body {
  margin: 0;
  padding: 0;
}

#palette {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.colors {
  width: 49.5vw;
  height: 49vh;
  border: 1px black solid;
}
